.header{
    background: rgb(57, 67, 160);
    display: flex;
    color: #fff;
    align-items: center;
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-link, a {
    margin-left: 200px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}